<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <div id="root">
    <img v-bind:src="imgSrc" alt="" style="width: 200px;height: 100px;">
    <img :src="imgSrc" alt="" style="width: 200px;height: 100px;">
    <h3 v-text="person.name"></h3>
    <h3 v-text="person.other.name"></h3>
    <div v-html="htmlVal"></div>
    <h1>{{person.name}}----{{person.age}}</h1>
    <h2>{{person.name}}</h2>
    <h4 v-model="msg"></h4>
    <h1>{{modelV}}</h1>
    <input type="text" v-model="modelV" />
    <ul>
      <li>{{person.name}}</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <button v-on:click="clickMe">点击我更改数据</button>
    <button @click="clickMe">用第二种方式点击我更改数据</button>
  </div>
  <script src="./Oberver.js"></script>
  <script src="./MVue.js"></script>
  <script>
    let vm = new MVue({
      el: '#root',
      data: {
        person: { 
          name: 'jane',
          age: 12,
          other: {
            name: '其他人'
          }
        },
        msg: '我是消息',
        inputMsg: '',
        modelV: 'model value',
        htmlVal:'<h1 style="color:red">我是html</h1>',
        imgSrc: 'https://cn.vuejs.org/images/logo.png',
      },
      methods: {
        clickMe() {
          console.log(this.$data)
          this.$data.person.name = 'hellw world';
          this.person.age = '18';
        }
      }
    })
  </script>
</body>

</html>